
#hover-box{
    width: 200px;
    height: 200px;
    border: 1px solid black;
}

.card{
    width: 200px;
    height: 200px;
    background-color: cornsilk;
    position:relative
}
.delete{
    background-color: rgb(194,103,103)
    position:absolute;
}